
  <ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<!-- <form>
			<div class="mb-3">
				<label for="dateOfBirth">Date of birth</label>
				<div class="input-group">
					<input
						id="dateOfBirth"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="dp"
						ngbDatepicker
						#dp="ngbDatepicker"
					/>
					<button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
				</div>
			</div>
		</form> -->

        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="form-width">
            <mat-form-field class="full-width">
              <mat-label>Title</mat-label>
              <input type="text" matInput formControlName="title"  [errorStateMatcher]="matcher"
                     placeholder="Title">
              
              <mat-error *ngIf="taskForm.get('title')">
                Title is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                <textarea formControlName="description"   matInput placeholder="Description"></textarea>
            
                <mat-error *ngIf="taskForm.get('description')">
                    Description is <strong>required</strong>
                  </mat-error>
            </mat-form-field>
            <div>
                <label>Priority </label>
                <mat-radio-group  color="primary" formControlName="Priority">
                 
                <mat-radio-button value="low">Low</mat-radio-button>
                <mat-radio-button value="medium">Medium</mat-radio-button>
                <mat-radio-button value="high">High</mat-radio-button>
                </mat-radio-group>
              </div>
            <!-- <mat-label><strong>Priority</strong></mat-label>
            <mat-radio-group color="primary"  formControlName="Priority" aria-label="Select an option">
               
                <mat-radio-button value="low">Low</mat-radio-button>
                <mat-radio-button value="medium">Medium</mat-radio-button>
                <mat-radio-button value="high">High</mat-radio-button>
            </mat-radio-group> -->


                <mat-label for="StartDate">Start Date</mat-label>
				<div class="input-group">
					<input   matInput  formControlName="StartDate"
						id="StartDate"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="StartDate"
						ngbDatepicker
						#dp="ngbDatepicker"
					/>
					<button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
				</div>
                <mat-label class="my-2" for="endDate">End Date</mat-label>
				<div class="input-group">
					<input   matInput  formControlName="endDate"
						id="endDate"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="endDate"
						ngbDatepicker
						#dp1="ngbDatepicker"
					/>
					<button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp1.toggle()" type="button"></button>
				</div>

                    <label class="my-2">Status</label>
                        <select class="form-select" formControlName="status" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="to_do">To-DO</option>
                            <option value="in_progress">In Progress</option>
                            <option value="done">Done</option>
                          </select>

                          <label class="my-2">Assigned Person</label>
                          <select class="form-select" formControlName="assignedPerson" aria-label="Default select example">
                              <option selected>select</option>
                              <option value="Person1">Person1</option>
                              <option value="Person2">Person2</option>
                              <option value="Person3">Person3</option>
                            </select>
          </form>

	</div>
	<div class="modal-footer">
        <button type="submit" class="btn btn-success"
      (click)="onSubmit(); modal.close('Cross click')">Submit</button>
		<!--[disabled]="taskForm.invalid"  <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Task-{{task_id}}</button>

<hr />

