<div class="container-fluid">
  <div class="row ms-4 my-4 justify-content-end">
  <div class="col-sm-2 d-flex justify-content-end">
    <button type="button" (click)="addTask()" class="btn btn-primary">Add Task</button>
   </div>
  </div>
  <div class="row">
    <div class="col-sm">

      <div class="card h-100">
        <div class="card-header text-center">
          To-do
        </div>
        <div class="card-body">
          <div *ngFor="let task of taskList">
            <app-task  [data]="task" ></app-task>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">

      <div class="card h-100">
        <div class="card-header text-center">
          In-Prograss
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col-sm">

      <div class="card h-100">
        <div class="card-header text-center">
          Done
        </div>
        <div class="card-body">
          
        </div>
      </div>
    </div>

  </div>

</div>


<router-outlet></router-outlet>
